<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
  
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
		 	<param name="ConversionPattern"  
		  		value="[%d{ISO8601}]%t %p [%c] - %-90m %l %n" />
		</layout>
	</appender>
	
	<appender name="error" class="org.apache.log4j.DailyRollingFileAppender">  
		<param name="File" value="/data/logs/game/error.log" /><!-- 设置日志输出文件名 -->
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%t %p [%c] - %-90m %l %n" />
		</layout>
	</appender>
	
	<!-- 根logger的设置-->
	<root>
		<priority value ="debug"/>
		<appender-ref ref="console"/>
		<appender-ref ref="info"/>	
		<appender-ref ref="error"/>	
		<appender-ref ref="game"/>	
		<appender-ref ref="billing"/>	
		<appender-ref ref="recharge"/>	
	</root>
</log4j:configuration>